.cards {



    &__title {
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;

        @include md {
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 10px;
        }
    }

    &__item {
    }
}
.visually-hidden {
}

