.cards {



    &__title {
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }

    &__item {
    }
}
.visually-hidden {
}

