
.header {
    padding: 40px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        padding: 12px 32px;
        background-color: #A6ADFF;
        border-radius: 8px;
        font-size: 20px;
    }
}


.header {

    &__container {
    }

    &__logo {
    }


}
.container {
}




