.employer {
    padding: 60px 0 50px;
    &__title {
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 0.64px;
        margin-bottom: 50px;
    }

    &__form {
    }

    &__file {
        margin-bottom: 32px;
    }

    &__fieldset-input {
    }

    &__wrap-input {
    }

    &__label {
    }

    &__input {
    }

    &__fieldset-textarea {
    }

    &__textarea {
    }

    &__radio-buttons {
    }

    &__fieldset-radio {
    }

    &__legend {
    }

    &__label-radio {
    }

    &__wrap-submit {
    }

    &__submit {
    }

    &__error {
    }
}


