.vacancies {
    padding: 50px 0;

        @include lg {
        padding: 40px 0;

        @include md {
            padding: 30px 0;
        }
    }

    &__container {
        display: flex;
        gap: 24px 20px;

        @include md {
            flex-direction: column;
            row-gap: 0;
            @include md-2 {
                gap: 0;
            }
            @include md-2 {
                margin-bottom: 24px;
            }
        }
    }
    &__filter-btn {
        display: none;

        @include md {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            transition: margin-bottom .2s ease-in-out;
            transition-delay: .2s; //задержка transition

            &::after {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background: url('../img/arrow-blue.svg') no-repeat 5px 8px ;
            }

            &_active {
                margin-bottom: 32px;
                transition-delay: 0;
                &:after {
                    transform: rotate(180deg);
                }
            }
            @include md-2 {
                margin-bottom: 24px;
            }
        }
    }

    &__filter {
        // flex-basis: 280px; // гибкий размер
        // flex-grow: 0; // чтобы не  увеличивался
        // flex-shrink: 0; // чтобы не уменьшался

        //выше тоже самое написано
        flex: 0 0 280px;

        @include md {
            width: 100%;
            flex-basis: auto;
            height: 0; // скрываю окно
            overflow: hidden;
            transition: height .4s ease-in-out;

            &_active {
                margin-bottom: 40px;
                height: auto; //раскрываю окно
            }
        }
    }

    &__cards {
        flex-basis: 100%; //займи все свободное пространство

        @include md {
            width: 100%;
        }
    }


}