.vacancy {
    padding: 16px;
    border-radius: 16px;
    background-color: #FFF;
    cursor: pointer;
    outline: none;
    border: 2px, solid transparent;
    transition: background-color .2s ease-in-out ;
    &:hover {
        background-color: #F9FAFF;
    }

    &:focus-visible {
        border-color: #a6adff;
    }

    &__img {
        max-height: 44px;
        margin-bottom: 12px;
    }

    &__company {
        font-size: 20px;
        margin-bottom: 8px;
    }

    &__title {
        display: inline-block;
        border-radius: 4px;
        background-color: #EAECFF;
        padding: 3px 5px;
        margin-bottom: 8px;
    }

    &__fields {

    }

    &__field {
        color: #CCC;
        font-size: 14px;
    }
}